.App {
  text-align: center;
}
.players{
  display: grid;
  grid-template-columns: 100px 1000px;
}
.p1{
  font-size: 30px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.p2{
  font-size: 30px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: black;
  color:white;
}
.images{
  padding-top: 200px;
  font-size: 35px;
}
.Roll_btn{
  font-size:25px;
  border-radius: 60px;
  box-shadow: inset 1px 3px 5px 2px ;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  transition: 0.3s ease;  
}
.Roll_btn:hover{
  background-color: black;
  color: rgb(172, 151, 151);
}
.Active-state{
  display: grid;
  grid-template-rows: 30px;
  border: 5px solid black;
  background-color: rgba(232, 232, 232, 0.721);
  color: black;
  font-size: 30px;
  border-radius: 50px;
}
#name{
  font-size: 40px;
  color: black;
  padding-bottom: 40px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .Root_1{
  color:white;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}