.App {
  text-align: center;
}
.players{
  display: grid;
  grid-template-columns: 100px 1000px;
}
.images{
  padding-top: 200px;
  font-size: 35px;
}
.Roll_btn{
  font-size:25px;
  border-radius: 8px;
  box-shadow: inset 2px 2px 2px ;
}
.Roll_btn:hover{
  background-color: black;
  color: white;
}
.Root_1{
  color:white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
