body{
  background-color:yellow;
  /* rgb(82, 82, 82); */
  color:black;
  text-align: center;
  font-size: xx-large;
  padding-top: 100px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}